**

!LICENSE
!README.md
!CHANGELOG.md
!package.json
!out/extension.js
!resources/*.png
!resources/*.svg
!media/*.png
!schemas/*.json
!python/*.py
!python/SandboxProcess/*.py
!python/SandboxProcess/requirements.txt
!python/SandboxProcess/altium_api/*.py
!python/SandboxProcess/altium_api/internal/*.py
